@import url("https://fonts.googleapis.com/css?family=Quicksand|Rokkitt");
@import url("https://fonts.googleapis.com/css?family=Quicksand|Rokkitt");
@font-face {
  font-family: "MyriadPro-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MyriadPro-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/MyriadPro-Bold/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MyriadPro-Cond";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MyriadPro-Cond/MyriadPro-Cond.eot");
  src: url("../fonts/MyriadPro-Cond/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Cond/MyriadPro-Cond.woff") format("woff"), url("../fonts/MyriadPro-Cond/MyriadPro-Cond.ttf") format("truetype");
}

/*Color*/
/*Header background color*/
/*Button color*/
/*Main font color*/
/*Opacity header color*/
/*Font family*/
/*Font size*/
/*Main font size*/
/*h1*/
/*h2*/
/*h3*/
@font-face {
  font-family: "MyriadPro-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MyriadPro-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/MyriadPro-Bold/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MyriadPro-Cond";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MyriadPro-Cond/MyriadPro-Cond.eot");
  src: url("../fonts/MyriadPro-Cond/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Cond/MyriadPro-Cond.woff") format("woff"), url("../fonts/MyriadPro-Cond/MyriadPro-Cond.ttf") format("truetype");
}

/*Color*/
/*Header background color*/
/*Button color*/
/*Main font color*/
/*Opacity header color*/
/*Font family*/
/*Font size*/
/*Main font size*/
/*h1*/
/*h2*/
/*h3*/
.button__purpure, .button__purpureShadow {
  background-color: #9b59b6;
  display: block;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
  width: 205px;
  font-size: 24px;
  font-family: "Rokkitt", serif;
  text-transform: uppercase;
}

.button__purpure:hover, .button__purpureShadow:hover {
  text-decoration: none;
  background-color: #c9716a;
}

.button__purpure {
  border: 6px solid #9b59b6;
}

.button__purpure:hover {
  border: 6px solid #fff;
}

.button__purpureShadow {
  -webkit-box-shadow: inset 0px 0px 0px 6px rgba(155, 89, 182, 0.5);
  -moz-box-shadow: 0px 0px 0px 6px rgba(155, 89, 182, 0.5);
  -ms-box-shadow: 0px 0px 0px 6px rgba(155, 89, 182, 0.5);
  -o-box-shadow: 0px 0px 0px 6px rgba(155, 89, 182, 0.5);
  box-shadow: 0px 0px 0px 6px rgba(155, 89, 182, 0.5);
}

.button__purpureShadow:hover {
  -webkit-box-shadow: inset 0px 0px 0px 6px rgba(201, 113, 106, 0.5);
  -moz-box-shadow: 0px 0px 0px 6px rgba(201, 113, 106, 0.5);
  -ms-box-shadow: 0px 0px 0px 6px rgba(201, 113, 106, 0.5);
  -o-box-shadow: 0px 0px 0px 6px rgba(201, 113, 106, 0.5);
  box-shadow: 0px 0px 0px 6px rgba(201, 113, 106, 0.5);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "MyriadPro-Regular", sans-serif;
  line-height: 29px;
  color: #95a5a6;
  font-size: 15px;
  background-image: url(../img/Screendesign_Purple.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 999;
}

a {
  text-decoration: none;
  color: #95a5a6;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: "MyriadPro-Bold", sans-serif;
  color: #9b59b6;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
  margin-bottom: 48px;
}

h3 {
  font-size: 20px;
  margin-bottom: 24px;
}

.container {
  max-width: 100%;
  min-width: 320px;
}

.wrap {
  width: 980px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.header__wrap {
  position: relative;
  z-index: 2;
}

/*HEADER*/
header {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(224, 183, 181, 0.5);
  opacity: 1;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
}

.header-top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-family: "MyriadPro-Cond", sans-serif;
  background-color: transparent;
}

.header-top .logo {
  margin-top: 57px;
}

.header-top .header-top-menu {
  margin-top: 57px;
}

.header-top a {
  color: #fff;
}

.header-top ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.header-top ul li {
  padding: 0 18px;
}

.header-top ul li:last-child {
  padding-right: 0px;
}

.header-top ul a.active {
  color: #9b59b6;
  text-decoration: none;
}

.header__position {
  display: flex;
  justify-content: space-between;
}

.header-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  position: relative;
}

.title {
  font-family: "Rokkitt", serif;
  color: #fff;
  position: relative;
  margin-bottom: 45px;
  letter-spacing: 0.1px;
  font-stretch: ultra-condensed;
}

.title:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: -25px;
}

.subtitle {
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
}

.go-head {
  position: absolute;
  bottom: -24px;
  left: 300px;
}

section .section_wrap {
  width: 980px;
  margin: 0 auto;
  padding-top: 75px;
  padding-right: 10px;
  padding-bottom: 65px;
  padding-left: 10px;
  border-bottom: 1px solid #cecece;
}

section:first-child .section_wrap {
  padding-top: 150px;
}

section:last-child .section_wrap {
  padding-bottom: 150px;
  border-bottom: none;
}

.bio {
  text-align: center;
  font-size: 18px;
  padding: 0px  95px 65px 95px;
}

.advantages-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.advantage {
  text-align: center;
  width: 250px;
}

.advantage p {
  text-align: justify;
  letter-spacing: -0.47px;
}

.icon svg {
  color: #9b59b6;
  width: 65px;
  height: 65px;
  margin-bottom: 18px;
}

.works-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work {
  width: 400px;
  margin-bottom: 45px;
}

.work img {
  max-width: 100%;
  width: 100%;
}
